body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: flex;
  }

}

.singlePage-title {
    font-family: 'Rock Salt', cursive;
  }

.flexbox-container {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

