@import './animation.scss';

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: flex;
  }

}

.page {
  display: grid;
  grid-template-areas : "header header header" "nav content side" "footer footer footer";
  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  height: 100vh;

  

}

.page-header {
  grid-area: header;
  background-color: lightpink; 
  display: flex;
  text-align:center;
  flex-direction: column;
  align-content: space-around;
  font-family: 'Rock Salt', cursive;
  height:100px;
  justify-content: space-around;
  font-size: x-large;
}

.page-sidebar {
  grid-area: nav;
  background-color: lightgreen;
   
}

.page-content {
  grid-area: content;
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.page-legend {
  grid-area: side;
  background-color: lightgreen;
   
}


.sideBar-container{
  text-align: center

}
.singlePage-title {
    font-family: 'Rock Salt', cursive;
  }

  .singlePage-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

.monthTable {
  margin: 0 auto;
}

li :hover {
  background-color: #555;
  color: white;


}
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1 ;
  color: black;
}

.next {
  background-color: #f1f1f1 ;
  color: black;
}
.content{

grid-area: content;
justify-content: space-between;
text-align: center;
padding: 20px;
padding-left: 200px;
margin: 0 auto;

}
.month{
 margin: 0 auto;
}

.navItem {
flex-direction: column
}

th {
  vertical-align: top;
  padding-left: 10px;
    padding-right: 10px;
  }
  td {
    vertical-align: top;
    text-align:left;
    padding-left: 10px;
    padding-right: 10px;
  
  }
  .day{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }
  
  .table{
    margin:0px;
  }
  

  .event{
    padding-left: 10px;
  }


// .flexbox-container {
//   display: -ms-flex;
//   display: -webkit-flex;
//   display: flex;
// }

// .tooltip {
//   opacity: 0;
// }
// .tooltip:hover {
//   opacity: 1;
//   }



