@import './animation.scss';

body {
  font-family: 'ABeeZee', sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: flex;
  }

}


.day-position{
  justify-content: flex-start;
}

//header only
.page-header {
 background-color:#329e8d;
  display: flex;
  text-align:center;
  flex-direction: column;
  align-content: space-around;
  font-family: 'ABeeZee', sans-serif;
  height:100px;
  justify-content: space-around;
  font-size: 400%;
  color: white;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
border-radius: 5px;

}

//everything not in header
.page-container{
  display: flex;
  flex-direction: row;
  height: -webkit-fill-available;
}


.future-log{
   display: flex;
  flex-direction: row;
}
//navbar-left
.page-sidebar {
   background-color:#d7e7e8;
  flex: 1 0;
  height: -webkit-fill-available;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.55);
border-radius: 5px;
}

//middle stuff
.page-content {
  // background-color: lightblue;
  display: flex;
  flex-direction: column;

  align-content: center;
  justify-content: flex-start;
  text-align: center;
  flex: 4 0;
  height: -webkit-fill-available;

}

.page-legend {
  background-color: lightgreen;
}
//container for when there is a main & sidebar
.content-container{
  display: flex;
  flex-direction: row;
  // background-color: blue
}
.help{
   text-align: left;
   padding-left: 200px;
   padding-right: 200px;
}
  .help-heading{
    font-size: 150%;
    padding-top:10px;
    padding-bottom: 10px;
  }
// .insights-container{
//   display: flex;
//   flex-direction: row;
// }
//main stuff
.content-main{
  display:block;
  // background-color: lightcoral;
  flex: 4 0
}
.line-tasks{
  text-align: left;
}
//right sidebar
.content-sidebar{
  display: block;
  // background-color: lightsalmon;
  flex: 1 0;
  align-content: center;
  text-align: left;
  margin: 20px;
  height: -webkit-fill-available;
}

.content-title-left {
    font-family: 'ABeeZee', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }


.content-title {
    font-family: 'ABeeZee', sans-serif;
 font-size: 150%;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
align-items:baseline;


  }

.bujo-title {
    font-family: 'ABeeZee', sans-serif;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-size: 200%
  }


li :hover {
  background-color: #555;
  color: white;
}
.text{
      width: 700px !important;
      height: 200px !important;
  align-items: center;
  justify-content: center;
text-align: center;
margin-bottom: 3px;
margin-right: 5px;
padding-left: 200px;
}
.input{
    width: 200px !important;
  align-items: center;
  justify-content: space-between;
text-align: center;
margin-bottom: 3px;
margin-right: 5px;
}

.button {
  // width: 150px !important;
  align-items: center;
  justify-content: space-between;
text-align: center;
margin-bottom: 3px;
margin-left: 6px;
}
p{
  width: 150px !important;
}

#button1 {
  width: 150px !important;
//   align-items: center;
//   justify-content: space-between;
// text-align: center;
// margin-bottom: 3px;
// margin-left: 6px;
}

.picker{

  align-items: center;
  margin-bottom: 3px;
  align-items: center;
  justify-content: center;
text-align: center;
}

.space {
  margin-bottom: 20px;
}

.space-form{

 align-items: center;
}
.position{
  display: flex;
  flex-direction: row;
justify-content: space-between;
}
// .sideBar-container{
//   text-align: center

// }


//   .singlePage-container {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;
//   }

// .monthTable {
//   margin: 0 auto;
// }

// li :hover {
//   background-color: #555;
//   color: white;


// }
// a {
//   text-decoration: none;
//   display: inline-block;
//   padding: 8px 16px;
// }

th {
  vertical-align: top;
  padding-left: 10px;
    padding-right: 10px;
  }
  td {
    vertical-align: top;
    text-align:left;
    padding-left: 10px;
    padding-right: 10px;

  }
  .day{
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 30px;
  }

  .table{
    margin:0px;
  }


  .event{
    padding-left: 10px;

  }
.space-around-buttons{
  padding-top:40px;
  padding-bottom:10px;
}

.underline{
text-decoration: underline;
}
.align-left{
// justify-content: center;
text-align:left;
//  align-items: center;
   padding-right: 150px;
  //  padding-left: 150px;

  }
.del{
  margin-left: 300px;
  padding-right:0;
}
.lin{
  align-items: baseline;
}
  .parent-center{
   grid-area: center;
justify-content: center;
 margin-left: 250px;

  }

  .rotate{
    transform:rotate(90deg)
  }
// .flexbox-container {
//   display: -ms-flex;
//   display: -webkit-flex;
//   display: flex;
// }

// .navItem {
// flex-direction: column
// }

// th {
//   vertical-align: top;
//   padding-left: 10px;
//     padding-right: 10px;
//   }
//   td {
//     vertical-align: top;
//     text-align:left;
//     padding-left: 10px;
//     padding-right: 10px;

//   }
//   .day{
//     vertical-align: top;
//     padding-left: 10px;
//     padding-right: 10px;
//     padding-bottom: 30px;
//   }

//   .table{
//     margin:0px;
//   }


//   .event{
//     padding-left: 10px;
//   }


// // .flexbox-container {
// //   display: -ms-flex;
// //   display: -webkit-flex;
// //   display: flex;
// // }

.tooltip {
  opacity: 0;
}
.tooltip:hover {
  opacity: 1;
  }
a {
  text-decoration: none !important ;
  display: inline-block;
  padding: 8px 16px;
 margin: 20px;
}
// .future{
//   padding-bottom: 20px;
// }
a:hover {
  background-color:#ddd;
  color: black;
}

.previous {
  background-color: #d7e7e8 ;
  color: black;
}

.next {
  background-color: #d7e7e8 ;
  color: black;
}

.month{
 margin: 0 auto;
}


.inline{
   display: inline-block;
}

.habbit{
    display: flex;

}
